{% extends 'base.html.twig' %}

{% block title %}Nouvel Album Photo{% endblock %}

{% block body %}
    <h1>Créer un nouvel Album Photo</h1>

    {{ include('album_photo/_form.html.twig') }}

    <a href="{{ path('app_album_photo_index') }}" class="btn btn-secondary">Retourner à la liste</a>
{% endblock %}
